---
layout: page
refactor: false
---

{% include lang.html %}

<!-- Get pinned and unpinned posts -->
{% assign pinned_posts = site.posts | where: 'portfolio_pin', 'true' | where: 'show_in_portfolio', 'true' %}
{% assign all_posts = site.posts | where: 'show_in_portfolio', 'true' %}

<!-- Main posts area -->
<div id="post-list" class="flex-grow-1 px-xl-1">

  <!-- Put pinned posts at the top. -->
  {% if pinned_posts.size > 0 %}
    <p style="font-size:35px;font-weight:bold; text-align: center;">Featured Projects</p>
  {% endif %}
  {% for post in pinned_posts %}
    <article class="card-wrapper card">
      <a href="{{ post.url | relative_url }}" class="post-preview row g-0 flex-md-row-reverse">
        {% assign card_body_col = '12' %}

        {% if post.image %}
          {% assign src = post.image.path | default: post.image %}
          {% unless src contains '//' %}
            {% assign src = post.img_path | append: '/' | append: src | replace: '//', '/' %}
          {% endunless %}

          {% assign alt = post.image.alt | xml_escape | default: 'Preview Image' %}

          {% assign lqip = null %}

          {% if post.image.lqip %}
            {% capture lqip %}lqip="{{ post.image.lqip }}"{% endcapture %}
          {% endif %}

          <div class="col-md-5">
            <img src="{{ src }}" alt="{{ alt }}" {{ lqip }}>
          </div>

          {% assign card_body_col = '7' %}
        {% endif %}

        <div class="col-md-{{ card_body_col }}">
          <div class="card-body d-flex flex-column">
            <h1 class="card-title my-2 mt-md-0">{{ post.title }}</h1>

            <div class="card-text content mt-0 mb-3">
              <p>
                {% include no-linenos.html content=post.description %}
                {{ content | markdownify | strip_html | truncate: 200 | escape }}
              </p>
            </div>

            <div class="post-meta flex-grow-1 d-flex align-items-end">
              <div class="me-auto">
                <!-- posted date -->
                <i class="far fa-calendar fa-fw me-1"></i>
                {{post.date | date: "%b %Y" }}
                <i class="fa-solid fa-clock" style="padding-right: 3px;"></i>
                {{ post.duration_months }} months
                {% if post.team_size %}
                  <i class="fa-solid fa-user" style="padding-right: 4px;"></i>
                  {{ post.team_size }}
                {% endif %}
              </div>

              {% if post.portfolio_pin %}
                <div class="pin ms-1">
                  <i class="fa-solid fa-star"></i>
                  <span>{{ site.data.locales[lang].post.pin_prompt }}</span>
                </div>
              {% endif %}
            </div>
            <!-- .post-meta -->
          </div>
          <!-- .card-body -->
        </div>
      </a>
    </article>
  {% endfor %}

  <!-- Put all posts after the pinned ones, with the pinned ones being repeated too -->
  <p style="font-size:35px;font-weight:bold; text-align: center;">All Projects</p>
  {% for post in all_posts %}
      <!-- Appends a year at the top of each section -->
      {% assign cur_year = post.date | date: '%Y' %}
      {% if cur_year != last_year %}
        {% unless forloop.first %}</ul>{% endunless %}
        <time class="year lead d-block" style="font-size:30px;font-weight:bold;">{{ cur_year }}</time>
        {{ '<ul class="list-unstyled">' }}
        {% assign last_year = cur_year %}
      {% endif %}

      <article class="card-wrapper card">
        <a href="{{ post.url | relative_url }}" class="post-preview row g-0 flex-md-row-reverse">
          {% assign card_body_col = '12' %}

          {% if post.image %}
            {% assign src = post.image.path | default: post.image %}
            {% unless src contains '//' %}
              {% assign src = post.img_path | append: '/' | append: src | replace: '//', '/' %}
            {% endunless %}

            {% assign alt = post.image.alt | xml_escape | default: 'Preview Image' %}

            {% assign lqip = null %}

            {% if post.image.lqip %}
              {% capture lqip %}lqip="{{ post.image.lqip }}"{% endcapture %}
            {% endif %}

            <div class="col-md-5">
              <img src="{{ src }}" alt="{{ alt }}" {{ lqip }}>
            </div>

            {% assign card_body_col = '7' %}
          {% endif %}

          <div class="col-md-{{ card_body_col }}">
            <div class="card-body d-flex flex-column">
              <h1 class="card-title my-2 mt-md-0">{{ post.title }}</h1>

              <div class="card-text content mt-0 mb-3">
                <p>
                  {% include no-linenos.html content=post.description %}
                  {{ content | markdownify | strip_html | truncate: 200 | escape }}
                </p>
              </div>

              <div class="post-meta flex-grow-1 d-flex align-items-end">
                <div class="me-auto">
                  <!-- posted date -->
                  <i class="far fa-calendar fa-fw me-1"></i>
                  {{post.date | date: "%b %Y" }}
                  <i class="fa-solid fa-clock" style="padding: 3px;"></i>
                  {{ post.duration_months }} months
                  {% if post.team_size %}
                    <i class="fa-solid fa-user" style="padding-right: 4px;"></i>
                    {{ post.team_size }}
                  {% endif %}
                </div>

                {% if post.portfolio_pin %}
                  <div class="pin ms-1">
                    <i class="fa-solid fa-star"></i>
                      <span>{{ site.data.locales[lang].post.pin_prompt }}</span>
                  </div>
                {% endif %}
              </div>
              <!-- .post-meta -->
            </div>
            <!-- .card-body -->
          </div>
        </a>
      </article>
  {% endfor %}
</div>
<!-- #post-list -->
